/* game board table */

body {
  padding-top: 100px;
  background-color: whitesmoke;
}

#title {
  font-family: fantasy;
  font-size: 70px;
  margin-bottom: -10px;
}

#board {
  top: 50%;
  left: 50%;
  margin: auto;
  padding-top: 50px;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  background-color: #dcae96;
}

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

.p1 {
  background-color: yellow;
}

.p2 {
  background-color: red;
}

#row-0,
#row-1,
#row-2,
#row-3,
#row-4,
#row-5 {
  background-color: lightblue;
}
